@font-face{
  font-family: popLight;
  src: url('./poppins/Poppins-Light.ttf')
}
@font-face{
  font-family: popMedium;
  src: url('./poppins/Poppins-Medium.ttf')
}
@font-face{
  font-family: popRegular;
  src: url('./poppins/Poppins-Regular.ttf')
}
body {
  margin: 0;
  font-family: popRegular !important;
  font-style: normal;
  letter-spacing: normal !important;
}
ul{
  padding: 0;
}
#body-container{
  min-height: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MainMenu{
  position: relative;
  top: 2px;
}

.MainMenu li{
  margin-right: 35px;
  display: inline-block;
  padding: 22px 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.MainMenu li:hover span{
  border-bottom: solid 1px;
}

ul{
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
#mainMenu-container{
  display: inline-block;
}
.Settings-Buttons{
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 2px;
}
#header-container{
  width: 90%;
  margin: auto;
  position: relative;
  top: 5px;
}
.Logo{
  display: inline-block;
  width: 180px;
  position: relative;
  margin-right: 53px;
}
#drawer-btn{
  display: none;
}
@media only screen and (max-width: 1386px) {
  .MainMenu ul{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  .Logo{
    margin-right: 0;
  }
  #profileinfo-container-new{
    width: 80% !important;
  }
}
@media only screen and (max-width: 1281px) {
  #profileinfo-container-new{
    width: 100% !important;
  }
}
@media only screen and (max-width: 1200px) {
  #profileinfo-container-new{
    width: 100% !important;
  }
  #slide-title-line{
    width: 49% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .menu-container{
    display: none !important;
  }
  .Logo{
    margin: auto;
    display: block;
    float: none;
  }
  #drawer-btn{
    display: block;
    position: absolute;
    top: 0px;
    color: black;
    right: -4%;
    top: 12px;
  }
  .MuiListItem-root{
    text-align: center !important;
    height: 80px;
  }
  #slide-title-line{
    width: 45% !important;
  }
}
.Settings-Buttons li{
  display: inline-block;
  margin-right: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.Settings-Buttons li:first-child:hover a{
  border-bottom: solid 1px;
}
.Settings-Buttons li:last-child {
  border: 2px solid #E7B012;
  border-radius: 10px 10px 10px 0px;
}
.Settings-Buttons li:last-child a{
  padding: 5px 15px;
}
.Settings-Buttons li:last-child:hover{
  background: linear-gradient(21.52deg, #EED99D 8.42%, #F8BF2E 91.47%);
}
.Logo img{
  width: 100%;
  height: 100%;
  position: relative;
}
.Login-form{
  display: block;
  margin: auto;
  position: relative;
  width: 500px;
}

.Login-form input{
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.card{
  display: inline-block;
}

.cardContainer{
  margin: auto;
  width: 690px;
}

.MuiTableCell-alignRight{
  text-align: center !important;
}

.chipSelected{
  color: #fff !important;
  background-color: #d31a58 !important;
}

.Box-Container{
  margin-top: 150px;
}

.MuiChip-clickable{
  width: 150px !important;
}

.MainImageField{
  width: 85%;
  height: 500px;
  margin: auto;
  padding: 0 18px;
}
.about-img{
  width: 100%;
  height: 100%;
}
.about-paper{
  max-width: 40% !important;
}
.club-paper{
  width: 50%;
  margin: auto;
  margin-top: 42px;
  margin-bottom: 42px;
  text-align: center;
}
.club-paper-float{
  transition: ease-in 0.3s;
  position: relative;
  bottom: 0px;
}
.club-paper-float:hover{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  bottom: 5px;
}
.uploadTypeCard{
  width: 345px;
}
.project-card{
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 100px;
}
.charterDate{
  margin-bottom: 40px;
}
.MuiTypography-gutterBottom{
  margin-bottom: 10px !important;
}
.club-info-text{
  margin-bottom: 50px;
}
.project-info-text{
  margin-top: 100px;
  margin-bottom: 300px;
}
.fileContainer{
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.fileUploader{
  height: 100%;
}
.uploadBtn{
  position: absolute !important;
}
textarea{
  width: 100%;
}
.yours-custom-class{
  width: 100%;
  max-height: 500px;
}
.uploadImageButton{
  position: absolute;
  z-index: 1;
  margin: 10px;
}
.fileContainer .uploadPicturesWrapper{
  max-height: 500px;
  overflow: auto;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.member-image{
  max-width: 300px;
  max-height: 300px;
}
.member-image img{
  width: 100%;
  height: 100%;
}
#Header{
  background-color: transparent;
  height: 85px;
  /* margin-bottom: 60px; */
}
#about-image-container{
  max-height: 1440px;
  height: calc(100vh - 85px);
}
#parallax {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/about-img/tomato.jpg');
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallex-text{
  color: white;
  width: 847px;
  height: 400px;
  margin: auto;
}
#parallex-upper-text{
  width: 450px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 200px;
}
#parallex-text span{
  font-weight: 500;
}
.first-span{
  font-size: 55px;
  line-height: 82px;
}
#second-span{
  font-size: 35px;
  line-height: 52px;
  margin: 0 21px 0 21px;
}
#parallex-upper-text h3{
  margin-left: 6px;
  margin-right: 6px;
}
#parallex-lower-text{
  position: relative;
  top: 221px;
  font-family: popLight;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  width: 600px;
  margin: auto;
}
#chart{
  width: 60%;
  float: right;
  height: 100%;
}
#chart-text{
  width: 39%;
  height: 100%;
  float: left;
}
#chart-text-title{
  margin-top: 80px;
}
.about-info-section1{
  width: 1000px;
  margin: auto;
  position: relative;
  top: 100px;
  opacity: 0;
  margin-bottom: 200px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.about-info1-left{
  width: 468px;
  height: 471px;
  display: inline-block;
}
.about-info1-right{
  width: 433px;
  height: 455px;
  display: inline-block;
  float: right;
}
.about-info2-left{
  width: 433px;
  height: 455px;
  display: inline-block;
}
.about-info2-right{
  width: 468px;
  height: 471px;
  display: inline-block;
  float: right;
}
.about-animate-field{
  transition: 1s ease;
}
.visible{
  top: 0px !important;
  opacity: 1 !important;
}
#about-info-container{
  margin-top: 50px;
  font-family: popLight;
}
#parallex-scroll-btn{
  height: 50px;
  width: 50px;
  position: relative;
  margin: auto;
  top: 90%;
  background-color: #f9136b;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: 0.2s ease-in-out;
}
#parallex-scroll-btn:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.05);
}
#parallex-scroll-btn img{
  height: 15px;
  width: 15px;
  position: relative;
  left: 17px;
  top: 15px;
}
#chart-text-title{
  font-family: popMedium;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
#chart-text-content{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 8px;
  font-family: popLight;
}
#footer{
  margin-top: 50px;
  height: 195px;
}
#footer-container{
  height: 100%;
}
.footer-content-container{
  margin-top: 35px;
}
#footer-left{
  width: 178px;
  height: 181px;
  float: left;
  position: relative;
  top: 18px;
  background-repeat: no-repeat;
  background-image: url('./img/public/FooterLeft.svg');
}
.footer-logo{
  float: left;
}
#footer-right{
  position: relative;
  top: 18px;
  width: 120px;
  height: 180px;
  float: right;
  background-repeat: no-repeat;
  background-image: url('./img/public/FooterRight.svg');
}
#footer-mid{
  width: 65%;
  margin: auto;
  border-top: 1px solid #1C1C1C;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-table-container{
  float: left;
  margin-right: 99px;
}
.footer-table-container td{
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1C1C1C;
}
.footer-table-container td::before{
  content: "";
  width: 4px;
  margin-right: 25px;
  height: 20px;
  float: left;
  background-image: url('./img/public/Rectangle.svg');
  background-repeat: no-repeat;
}
.footer-social-container{
  display: inline-block;
}
.footer-social-container .social-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-left: 42px;
}
#social-logo-wrapper{
  display: inline-block;
}
#social-logo-wrapper div{
  display: inline-block;
  margin-right: 10px;
}
.test-box{
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
#slider-wrapper{
  white-space: nowrap;
  transition: transform 0.45s ease-out 0s;
  position: relative;
  left: 22px;
}
#slider-window{
  overflow: hidden;
  height: 100%;
}
.slide-circle{
  display: inline-block;
  height: 10px;
  width: 10px;
  background: rgb(249, 19, 107);
  border-radius: 100%;
  position: relative;
  bottom: 13px;
  margin: 0 20px 0 20px;
}
svg{
  cursor: pointer;
}
.member-card-container{
  height: 100%;
  margin: auto;
  max-width: 1283px;
  white-space: normal;
  font-family: popMedium;
  padding-bottom: 55px;
  padding-left: 25px;
}
.member-card{
  width: 280.78px;
  height: 80.64px;
  background: #FAFAFA;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: inline-block;
  margin: 33px 25.13px 0 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.member-card:hover{
  transform: scale(1.05);
}
.card-firstColumn{
  /* margin-left: 25.13px; */
}
.card-lastRow{
  /* margin-bottom: 26px; */
}
.member-card .left{
  width: 60.71px;
  height: 60.71px;
  display: inline-block;
  margin: 10.96px 23.27px 0 22.34px;
}
.member-card .left img{
  border-radius: 100%;
}
.member-card .right{
  display: inline-block;
  position: relative;
  bottom: 14px;
}
.member-card .right .member-name{
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.member-card .right .member-date{
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.MuiContainer-maxWidthLg{
  min-height: 800px;
}
#slide-button-wrapper{ 
  margin-left: 80px;
  display: inline-block;
  transform: translateX(74vw);
}
.box-wrapper{
  /* height: 510px; */
  margin-bottom: 50px;
}

#slide-title-section{
  font-weight: 500;
  font-size: 30px;
  line-height: 75px;
  width: 1285px;
  margin: auto;
  font-family: popMedium;
}
#slide-title-line{
  width: 66%;
  display: inline-block;
  border-bottom: 1px solid #F9136B;
  position: relative;
  bottom: 9px;
  margin-left: 10px;
  margin-right: 10px;
}
.board-line{
  width: 925px !important;
}
#searchIcon{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 15px;
}
#search-wrapper{
  display: inline-block;
  position: relative;
  top: 9px;
}
#search-wrapper input{
  position: relative;
  bottom: 11px;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  width: 150px;
  outline: none;
  border: 0px;
}
.profile-container{
  margin-top: 100px;
}
.profileImage-container{

}
.member-list-item-wrap{
  position: relative;
  top: 23px;
}
.member-list-item-mtype{
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
#member-info-field{
  /* width: 600px; */
  margin-top: 32px;
}
#member-field-container{
  height: 100%;
  width: calc(100% - 75px);
  overflow-y: auto;
  padding: 0 24px 0 24px;
}
.member-list-item{
  /* width: 600px; */
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(103, 103, 103, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
}
.member-list-item-dot{
  display: inline-block;
  background: #2D2D2F;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  position: relative;
  bottom: 4px;
  margin: 0 10px 0 17px;
}
.member-list-item-date{
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  display: inline-block;
  float: right;
  margin-right: 46px;
}
#profileinfo-container-new{
  width: 1005px;
  height: 600px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.profileImage-container{
  width: 300px;
  height: 300px;
  border: solid 2px #03bfcb;
  margin: auto;
  border-radius: 100%;
  margin-top: 100px;
  cursor: pointer;
}
.profile-img-container{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: linear-gradient(#F9136B, #6325B0);
  margin: auto;
  margin-top: 20px;
}
#profile-image-circle{
  width: 134px;
  height: 134px;
  border: solid 6px white;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  bottom: -2px;
  left: 2px;
}
#profile-left{
  width: 256px;
  height: 100%;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
#profile-right{
  height: 100%;
  float: right;
  width: 70%;
}
.profile-name{
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
}
.profile-tag{
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
#member-profile-title{
  text-align: center;
  height: 318px;
  margin: auto;
  margin-top: 10px;
  width: 220px;
}
#left-img{
  width: 226px;
  margin: auto;
}
.profile-divider{
  border-bottom: 1px solid rgba(249, 19, 107, 0.5);
  width: 180px;
  height: 0px;
  display: inline-block;
  margin-top: 20px;
}
#profile-img-circle{
  width: 280px;
  height: 280px;
  border: solid 10px white;
  border-radius: 100%;
}
#profile-img-circle img{
  border-radius: 100%;
}
#profile-input-container{
  width: 60%;
  margin: auto; 
  margin-bottom: 100px;
}
#profile-edit-button{
  width: 130px;
  height: 30px;
  margin: auto;
  background: #F9136B;
  border: 1px solid rgba(249, 19, 107, 0.9);
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 36px;
}
#profile-edit-button span{
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  position: relative;
  top: 2px;
}
.MuiInput-root{
  margin-bottom: 15px !important;
}
#profile-input-container .MuiFormControl-marginNormal{
  width: 100%;
}
#member-type-wrapper .MuiFormControl-marginNormal{
  width: 33% !important;
  margin-right: 8px;
}
#member-type-wrapper .deleteBtn{
  position: relative;
  top: 14px;
  margin-left: 0px !important;
}
#member-type-wrapper .member-type-select{
  position: relative;
  top: 9px;
}
.member-type-select{
  width: 155px !important;
}
#member-info-container{
  width: 500px;
  margin: auto;
}
#member-info-container #member-title{
  text-align: center;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 1.5;
}
#member-title h1{
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0px;
}
#member-title .member-type{
  color: #999999;
}
#member-info-container .member-field-container{
  text-align: center;
}
.profile-list{
  margin: auto !important;
}
.board-card{
  display: inline-block;
  width: 350px;
  height: 500px;
  border-radius: 25px 25px 0px 0px;
  overflow: hidden;
  background: #FAFAFA;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.25);
  margin-right: 75px;
}
.board-image{
  height: 385px;
}
.board-text{
  height: 115px;
  margin: 5px 20px 5px 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  font-family: popLight;
  color: #000000;
}
.board-wrapper{
  height: 700px !important;
}
.board-tag{
  position: absolute;
  max-width: 123.58px;
  background: #2D2D2F;
  border-radius: 10px;
  top: 18px;
  transform: translateX(-5px);
}
.board-tag-text{
  margin: 5px 10px;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FAFAFA;
  font-family: popLight;
}
.board-slider{
  padding-left: 75px;
}
.signInForm{
  height: 600px;
}
.divider-about{
  width: 85%;
  border-bottom: 1px solid rgba(61, 61, 61, 0.5);;
  margin: auto;
  margin-bottom: 116px;
}
.menu-item-m{
  margin-right: 20px;
  display: inline-block;
  padding: 22px 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FAFAFA;
  border-bottom: solid 4px #1e1e20;
}
.menu-item-m:hover{
  color: #f9136b;
  border-color: #f9136b;
}
#EmptyComponentGif{
  background-image: url("./img/public/2.gif");
  width: 800px;
  height: 600px;
  margin: auto;
}
#EmptyComponentWrap{
  margin-top: 15px;
}
#avatar-skeleton{
  position: relative;
  left: 3px;
  bottom: 1px;
}
.loading{
  width: 100%;
  height: 100%;
  background-image: url("./img/public/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 200px;
  min-height: 400px;
}

.menu-container{
  float: right;
}
.menu-container a{
  color: #1C1C1C !important;
}