$header_font_color: #0632ad;
$paragraph_font_color: #6b6b6b;

@import "../../../scss//responsive.scss";
@import "../../../scss//globalValues.scss";

.about__view__1 {
    height: calc(100vh - 85px);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    overflow: visible;
    font-size: 100%;


    .about__view__1_assets{
        z-index: -100;
        height: calc(100vh - 85px);
        width: 100vw;
        position: absolute;
        overflow-x: hidden;
        transform: translateY(100px);

        img{
            object-fit: contain;
            width: 40%;
            height: 40%;
        }

        .vector_left{
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateX(-43%);
        }

        .vector_right{
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(43%);
        }

    }

    .view__1__left {
        @include flexColumnCenter();
        grid-column: 2/8;
        transform: translateY(-70px);

        h1 {
            margin: 0;
            font-size: 3em;
            color: $header_font_color;
            font-weight: 200;
        }

        p {
            font-size: 1em;
            color: $paragraph_font_color;
        }
    }

    .view__1__right {
        @include flexColumnCenter();
        align-items: center;
        grid-column: 9/17;

        img {
            object-fit: contain;
            width: 700px;
        }
    }

    @include responsive(tab-land) {
        height: auto;
        font-size: 100%;
        align-items: center;

        .view__1__left {
            @include flexColumnCenter();
            grid-column: 2/8;
            transform: translateY(0);

            h1 {
                font-size: 2.5em;
            }
        }

        .view__1__right {
            img {
                width: 90%;
            }
        }

        .about__view__1_assets{
            height: 60vh;
            bottom: 20px;
            img{
                object-fit: contain;
                width: 40%;
                height: 40%;
            }
        }
    }

    @include responsive(tab-port) {
        margin: 85px 0 80px 0;
        height: auto;
        font-size: 85%;
        align-items: center;

        .view__1__left{
            transform: translateY(0);
        }

        .view__1__right {
            img {
                width: 90%;
            }
        }

        .about__view__1_assets{
            height: 35vh;
            bottom: auto;
            img{
                object-fit: contain;
                width: 40%;
                height: 40%;
            }
        }

    }

    @include responsive(phone) {
        display: flex;
        flex-flow: column;
        margin: 60px 20px 60px 20px;
        height: auto;
        width: auto;
        font-size: 100%;

        .about__view__1_assets{
            display: none;
        }

        .view__1__left {
            width: 100%;
            transform: translateY(0);
            text-align: center;

            h1{
                font-size: 1.8em;
            }
            p {
                text-align: justify;
            }
        }

        .view__1__right {
            margin-top: 40px;
            img {
                width: 70%;
            }
        }
    }

    @include responsive(big-desktop) {
        font-size: 16pt;

        .view__1__right {
            img {
                width: 100%;
            }
        }
    }
}
